In [31]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None
pd.set_option('display.max_colwidth', None)

from jupyterthemes import jtplot
jtplot.style(grid=False)

In [4]:
nasa_df = pd.read_csv('exoplanets_2018.csv')

In [5]:
nasa_df.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,koi_time0bk_err2,koi_impact,koi_impact_err1,koi_impact_err2,koi_duration,koi_duration_err1,koi_duration_err2,koi_depth,koi_depth_err1,koi_depth_err2,koi_prad,koi_prad_err1,koi_prad_err2,koi_teq,koi_teq_err1,koi_teq_err2,koi_insol,koi_insol_err1,koi_insol_err2,koi_model_snr,koi_tce_plnt_num,koi_tce_delivname,koi_steff,koi_steff_err1,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,9.488036,2.780000e-05,-2.780000e-05,170.538750,0.002160,-0.002160,0.146,0.318,-0.146,2.95750,0.08190,-0.08190,616.0,19.5,-19.5,2.26,0.26,-0.15,793.0,NaN,NaN,93.59,29.45,-16.65,35.8,1.0,q1_q17_dr25_tce,5455.0,81.0,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,54.418383,2.480000e-04,-2.480000e-04,162.513840,0.003520,-0.003520,0.586,0.059,-0.443,4.50700,0.11600,-0.11600,875.0,35.5,-35.5,2.83,0.32,-0.19,443.0,NaN,NaN,9.11,2.87,-1.62,25.8,2.0,q1_q17_dr25_tce,5455.0,81.0,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,10811496,K00753.01,NaN,CANDIDATE,CANDIDATE,0.000,0,0,0,0,19.899140,1.490000e-05,-1.490000e-05,175.850252,0.000581,-0.000581,0.969,5.126,-0.077,1.78220,0.03410,-0.03410,10800.0,171.0,-171.0,14.60,3.92,-1.31,638.0,NaN,NaN,39.30,31.04,-10.49,76.3,1.0,q1_q17_dr25_tce,5853.0,158.0,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,1.736952,2.630000e-07,-2.630000e-07,170.307565,0.000115,-0.000115,1.276,0.115,-0.092,2.40641,0.00537,-0.00537,8080.0,12.8,-12.8,33.46,8.50,-2.83,1395.0,NaN,NaN,891.96,668.95,-230.35,505.6,1.0,q1_q17_dr25_tce,5805.0,157.0,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,2.525592,3.760000e-06,-3.760000e-06,171.595550,0.001130,-0.001130,0.701,0.235,-0.478,1.65450,0.04200,-0.04200,603.0,16.9,-16.9,2.75,0.88,-0.35,1406.0,NaN,NaN,926.16,874.33,-314.24,40.9,1.0,q1_q17_dr25_tce,6031.0,169.0,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [6]:
nasa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   kepler_name        2359 non-null   object
 3   koi_disposition    9564 non-null   object
 4   koi_pdisposition   9564 non-null   object
 5   koi_score          8054 non-null   float64
 6   koi_fpflag_nt      9564 non-null   int64
 7   koi_fpflag_ss      9564 non-null   int64
 8   koi_fpflag_co      9564 non-null   int64
 9   koi_fpflag_ec      9564 non-null   int64
 10  koi_period         9564 non-null   float64
 11  koi_period_err1    9110 non-null   float64
 12  koi_period_err2    9110 non-null   float64
 13  koi_time0bk        9564 non-null   float64
 14  koi_time0bk_err1   9110 non-null   float64
 15  koi_time0bk_err2   9110 non-null   float64
 16  koi_impact         9201 non-null   float64
 17  koi_impact_err1    9110 non-null   float64
 18  koi_impact_err2    9110 non-null   float64
 19  koi_duration       9564 non-null   float64
 20  koi_duration_err1  9110 non-null   float64
 21  koi_duration_err2  9110 non-null   float64
 22  koi_depth          9201 non-null   float64
 23  koi_depth_err1     9110 non-null   float64
 24  koi_depth_err2     9110 non-null   float64
 25  koi_prad           9201 non-null   float64
 26  koi_prad_err1      9201 non-null   float64
 27  koi_prad_err2      9201 non-null   float64
 28  koi_teq            9201 non-null   float64
 29  koi_teq_err1       0 non-null      float64
 30  koi_teq_err2       0 non-null      float64
 31  koi_insol          9243 non-null   float64
 32  koi_insol_err1     9243 non-null   float64
 33  koi_insol_err2     9243 non-null   float64
 34  koi_model_snr      9201 non-null   float64
 35  koi_tce_plnt_num   9218 non-null   float64
 36  koi_tce_delivname  9218 non-null   object
 37  koi_steff          9201 non-null   float64
 38  koi_steff_err1     9096 non-null   float64
 39  koi_steff_err2     9081 non-null   float64
 40  koi_slogg          9201 non-null   float64
 41  koi_slogg_err1     9096 non-null   float64
 42  koi_slogg_err2     9096 non-null   float64
 43  koi_srad           9201 non-null   float64
 44  koi_srad_err1      9096 non-null   float64
 45  koi_srad_err2      9096 non-null   float64
 46  ra                 9564 non-null   float64
 47  dec                9564 non-null   float64
 48  koi_kepmag         9563 non-null   float64
dtypes: float64(39), int64(5), object(5)
memory usage: 3.6+ MB

In [7]:
nasa_df.describe()

,kepid,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,koi_time0bk_err2,koi_impact,koi_impact_err1,koi_impact_err2,koi_duration,koi_duration_err1,koi_duration_err2,koi_depth,koi_depth_err1,koi_depth_err2,koi_prad,koi_prad_err1,koi_prad_err2,koi_teq,koi_teq_err1,koi_teq_err2,koi_insol,koi_insol_err1,koi_insol_err2,koi_model_snr,koi_tce_plnt_num,koi_steff,koi_steff_err1,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
count,9.564000e+03,8054.000000,9564.000000,9564.000000,9564.000000,9564.000000,9564.000000,9110.000000,9110.000000,9564.000000,9110.000000,9110.000000,9201.000000,9110.000000,9110.000000,9564.000000,9110.000000,9110.000000,9.201000e+03,9110.000000,9110.000000,9201.000000,9201.000000,9201.000000,9201.000000,0.0,0.0,9.243000e+03,9.243000e+03,9.243000e+03,9201.000000,9218.000000,9201.000000,9096.000000,9081.000000,9201.000000,9096.000000,9096.000000,9201.000000,9096.000000,9096.000000,9564.000000,9564.000000,9563.000000
mean,7.690628e+06,0.480829,0.208595,0.232748,0.197512,0.120033,75.671358,0.002148,-0.002148,166.183251,0.009933,-0.009933,0.735105,1.959861,-0.332557,5.621606,0.339942,-0.339942,2.379245e+04,123.233897,-123.233897,102.891778,17.657754,-33.043077,1085.385828,NaN,NaN,7.745737e+03,3.750698e+03,-4.043522e+03,259.895001,1.243654,5706.823280,144.635554,-162.265059,4.310157,0.120738,-0.143161,1.728712,0.362292,-0.394806,292.060163,43.810433,14.264606
std,2.653459e+06,0.476928,4.767290,0.422605,0.398142,0.325018,1334.744046,0.008243,0.008243,67.918960,0.023097,0.023097,3.348832,9.421653,1.249828,6.471554,0.669823,0.669823,8.224316e+04,4116.741030,4116.741030,3077.639126,391.014786,1194.210220,856.351161,NaN,NaN,1.592047e+05,5.504421e+04,8.838831e+04,795.806615,0.664573,796.857947,47.052305,72.746348,0.432606,0.132837,0.085477,6.127185,0.930870,2.168213,4.766657,3.601243,1.385448
min,7.574500e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.241843,0.000000,-0.173000,120.515914,0.000009,-0.569000,0.000000,0.000000,-59.320000,0.052000,0.000000,-20.200000,0.000000e+00,0.000000,-389000.000000,0.080000,0.000000,-77200.000000,25.000000,NaN,NaN,0.000000e+00,0.000000e+00,-5.600031e+06,0.000000,1.000000,2661.000000,0.000000,-1762.000000,0.047000,0.000000,-1.207000,0.109000,0.000000,-116.137000,279.852720,36.577381,6.966000
25%,5.556034e+06,0.000000,0.000000,0.000000,0.000000,0.000000,2.733684,0.000005,-0.000276,132.761718,0.001240,-0.010500,0.197000,0.040000,-0.445000,2.437750,0.050800,-0.350000,1.600000e+02,9.600000,-49.500000,1.400000,0.230000,-1.940000,539.000000,NaN,NaN,2.015000e+01,9.190000e+00,-2.873100e+02,12.000000,1.000000,5310.000000,106.000000,-198.000000,4.218000,0.042000,-0.196000,0.829000,0.129000,-0.250000,288.660770,40.777173,13.440000
50%,7.906892e+06,0.334000,0.000000,0.000000,0.000000,0.000000,9.752831,0.000035,-0.000035,137.224595,0.004130,-0.004130,0.537000,0.193000,-0.207000,3.792600,0.142000,-0.142000,4.210000e+02,20.750000,-20.750000,2.390000,0.520000,-0.300000,878.000000,NaN,NaN,1.416000e+02,7.283000e+01,-4.026000e+01,23.000000,1.000000,5767.000000,157.000000,-160.000000,4.438000,0.070000,-0.128000,1.000000,0.251000,-0.111000,292.261125,43.677504,14.520000
75%,9.873066e+06,0.998000,0.000000,0.000000,0.000000,0.000000,40.715178,0.000276,-0.000005,170.694603,0.010500,-0.001240,0.889000,0.378000,-0.046000,6.276500,0.350000,-0.050800,1.470000e+03,49.500000,-9.600000,14.930000,2.320000,-0.140000,1379.000000,NaN,NaN,8.702900e+02,5.194150e+02,-5.160000e+00,78.000000,1.000000,6112.000000,174.000000,-114.000000,4.543000,0.149000,-0.088000,1.345000,0.364000,-0.069000,295.859160,46.714611,15.322000
max,1.293514e+07,1.000000,465.000000,1.000000,1.000000,1.000000,129995.778400,0.173000,0.000000,1472.522306,0.569000,-0.000009,100.806000,85.540000,0.000000,138.540000,20.200000,0.000000,1.540000e+06,389000.000000,0.000000,200346.000000,21600.000000,0.000000,14667.000000,NaN,NaN,1.094755e+07,3.617133e+06,0.000000e+00,9054.700000,8.000000,15896.000000,676.000000,0.000000,5.364000,1.472000,0.000000,229.908000,33.091000,0.000000,301.720760,52.336010,20.003000

In [11]:
nasa_df.koi_score.describe()

count    8054.000000
mean        0.480829
std         0.476928
min         0.000000
25%         0.000000
50%         0.334000
75%         0.998000
max         1.000000
Name: koi_score, dtype: float64

In [13]:
nasa_df.kepler_name.sample(25)

6842    Kepler-1632 b
7541              NaN
1974     Kepler-380 c
7507              NaN
8696              NaN
4648              NaN
804               NaN
1489    Kepler-1073 b
5692              NaN
483               NaN
1725    Kepler-1167 b
5999              NaN
6278              NaN
562      Kepler-738 b
7356              NaN
8607              NaN
6771              NaN
9361              NaN
1997    Kepler-1228 b
2676              NaN
1281     Kepler-308 c
9477              NaN
133       Kepler-27 c
6665              NaN
422      Kepler-758 d
Name: kepler_name, dtype: object

In [29]:
explain_df = pd.read_csv('columns_meaning.csv')

In [30]:
explain_df = explain_df.iloc[2:51,:1]

In [32]:
explain_df

   # This file was produced by the NASA Exoplanet Archive  http://exoplanetarchive.ipac.caltech.edu
2                                                                    # COLUMN kepid:          KepID
3                                                                 # COLUMN kepoi_name:     KOI Name
4                                                              # COLUMN kepler_name:    Kepler Name
5                                           # COLUMN koi_disposition: Exoplanet Archive Disposition
6                                          # COLUMN koi_pdisposition: Disposition Using Kepler Data
7                                                        # COLUMN koi_score:      Disposition Score
8                                     # COLUMN koi_fpflag_nt:  Not Transit-Like False Positive Flag
9                                      # COLUMN koi_fpflag_ss:  Stellar Eclipse False Positive Flag
10                                     # COLUMN koi_fpflag_co:  Centroid Offset False Positive Flag
11             # COLUMN koi_fpflag_ec:  Ephemeris Match Indicates Contamination False Positive Flag
12                                                   # COLUMN koi_period:     Orbital Period [days]
13                                       # COLUMN koi_period_err1: Orbital Period Upper Unc. [days]
14                                       # COLUMN koi_period_err2: Orbital Period Lower Unc. [days]
15                                                    # COLUMN koi_time0bk:    Transit Epoch [BKJD]
16                                       # COLUMN koi_time0bk_err1: Transit Epoch Upper Unc. [BKJD]
17                                       # COLUMN koi_time0bk_err2: Transit Epoch Lower Unc. [BKJD]
18                                                        # COLUMN koi_impact:     Impact Parameter
19                                            # COLUMN koi_impact_err1: Impact Parameter Upper Unc.
20                                            # COLUMN koi_impact_err2: Impact Parameter Lower Unc.
21                                                  # COLUMN koi_duration:   Transit Duration [hrs]
22                                    # COLUMN koi_duration_err1: Transit Duration Upper Unc. [hrs]
23                                    # COLUMN koi_duration_err2: Transit Duration Lower Unc. [hrs]
24                                                     # COLUMN koi_depth:      Transit Depth [ppm]
25                                          # COLUMN koi_depth_err1: Transit Depth Upper Unc. [ppm]
26                                          # COLUMN koi_depth_err2: Transit Depth Lower Unc. [ppm]
27                                          # COLUMN koi_prad:       Planetary Radius [Earth radii]
28                               # COLUMN koi_prad_err1:  Planetary Radius Upper Unc. [Earth radii]
29                               # COLUMN koi_prad_err2:  Planetary Radius Lower Unc. [Earth radii]
30                                             # COLUMN koi_teq:        Equilibrium Temperature [K]
31                                  # COLUMN koi_teq_err1:   Equilibrium Temperature Upper Unc. [K]
32                                  # COLUMN koi_teq_err2:   Equilibrium Temperature Lower Unc. [K]
33                                            # COLUMN koi_insol:      Insolation Flux [Earth flux]
34                                 # COLUMN koi_insol_err1: Insolation Flux Upper Unc. [Earth flux]
35                                 # COLUMN koi_insol_err2: Insolation Flux Lower Unc. [Earth flux]
36                                                 # COLUMN koi_model_snr:  Transit Signal-to-Noise
37                                                     # COLUMN koi_tce_plnt_num: TCE Planet Number
38                                                         # COLUMN koi_tce_delivname: TCE Delivery
39                                       # COLUMN koi_steff:      Stellar Effective Temperature [K]
40                            # COLUMN koi_steff_err1: Stellar Effective Temperature Upper Unc. [K]
41                            # COLUMN koi_steff_err2: Stellar Effective Temperature Lower Unc. [K]
42                                # COLUMN koi_slogg:      Stellar Surface Gravity [log10(cm/s**2)]
43                     # COLUMN koi_slogg_err1: Stellar Surface Gravity Upper Unc. [log10(cm/s**2)]
44                     # COLUMN koi_slogg_err2: Stellar Surface Gravity Lower Unc. [log10(cm/s**2)]
45                                            # COLUMN koi_srad:       Stellar Radius [Solar radii]
46                                 # COLUMN koi_srad_err1:  Stellar Radius Upper Unc. [Solar radii]
47                                 # COLUMN koi_srad_err2:  Stellar Radius Lower Unc. [Solar radii]
48                                                    # COLUMN ra:             RA [decimal degrees]
49                                                   # COLUMN dec:            Dec [decimal degrees]
50                                                       # COLUMN koi_kepmag:     Kepler-band [mag]

In [33]:
nasa_df = nasa_df.drop(columns=['kepler_name','koi_teq_err1','koi_teq_err2'])

In [35]:
nasa_df = nasa_df.dropna()

In [36]:
nasa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7803 entries, 0 to 9563
Data columns (total 46 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              7803 non-null   int64
 1   kepoi_name         7803 non-null   object
 2   koi_disposition    7803 non-null   object
 3   koi_pdisposition   7803 non-null   object
 4   koi_score          7803 non-null   float64
 5   koi_fpflag_nt      7803 non-null   int64
 6   koi_fpflag_ss      7803 non-null   int64
 7   koi_fpflag_co      7803 non-null   int64
 8   koi_fpflag_ec      7803 non-null   int64
 9   koi_period         7803 non-null   float64
 10  koi_period_err1    7803 non-null   float64
 11  koi_period_err2    7803 non-null   float64
 12  koi_time0bk        7803 non-null   float64
 13  koi_time0bk_err1   7803 non-null   float64
 14  koi_time0bk_err2   7803 non-null   float64
 15  koi_impact         7803 non-null   float64
 16  koi_impact_err1    7803 non-null   float64
 17  koi_impact_err2    7803 non-null   float64
 18  koi_duration       7803 non-null   float64
 19  koi_duration_err1  7803 non-null   float64
 20  koi_duration_err2  7803 non-null   float64
 21  koi_depth          7803 non-null   float64
 22  koi_depth_err1     7803 non-null   float64
 23  koi_depth_err2     7803 non-null   float64
 24  koi_prad           7803 non-null   float64
 25  koi_prad_err1      7803 non-null   float64
 26  koi_prad_err2      7803 non-null   float64
 27  koi_teq            7803 non-null   float64
 28  koi_insol          7803 non-null   float64
 29  koi_insol_err1     7803 non-null   float64
 30  koi_insol_err2     7803 non-null   float64
 31  koi_model_snr      7803 non-null   float64
 32  koi_tce_plnt_num   7803 non-null   float64
 33  koi_tce_delivname  7803 non-null   object
 34  koi_steff          7803 non-null   float64
 35  koi_steff_err1     7803 non-null   float64
 36  koi_steff_err2     7803 non-null   float64
 37  koi_slogg          7803 non-null   float64
 38  koi_slogg_err1     7803 non-null   float64
 39  koi_slogg_err2     7803 non-null   float64
 40  koi_srad           7803 non-null   float64
 41  koi_srad_err1      7803 non-null   float64
 42  koi_srad_err2      7803 non-null   float64
 43  ra                 7803 non-null   float64
 44  dec                7803 non-null   float64
 45  koi_kepmag         7803 non-null   float64
dtypes: float64(37), int64(5), object(4)
memory usage: 3.1+ MB